[Unit]
Description=Port Pusher TCP Forwarder
After=network.target

[Service]
ExecStart=/root/tcp_forward.sh
Restart=always
User=root

[Install]
WantedBy=multi-user.target
